html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

a {
  text-decoration: none;
  color: #006ab2; }
  a:visited {
    color: #006ab2; }
  a:hover {
    text-decoration: none;
    color: #ff8811; }
  a:focus {
    outline: thin dotted;
    color: #ff8811; }
  a:hover, a:active {
    outline: 0; }

a:link {
  transition: all 0.25s ease; }

hr {
  clear: both;
  display: block;
  margin: 1.35rem 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #d8d8d8; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    hr {
      border-width: .5px; } }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

img[width],
img[height] {
  max-width: none; }

.img--right {
  float: right;
  margin-bottom: 1.35rem;
  margin-left: 22px;
  width: auto; }

.img--left {
  float: left;
  width: auto;
  margin-right: 22px;
  margin-bottom: 1.35rem; }

.img--center {
  display: block;
  width: auto;
  margin-right: auto;
  margin-bottom: 1.35rem;
  margin-left: auto; }

.img--right img,
.img--left img,
.img--center img {
  width: auto; }

figure {
  display: block;
  margin: 0 0 1.35rem 0; }
  figure img {
    margin-bottom: 1.35rem; }

figcaption {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  text-transform: none; }

@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  background: #fff;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f4f4f4;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: "Open Sans", "Times", serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #111; }
  @media (min-width: 48em) {
    body {
      font-size: 18px;
      font-size: 1.8rem; } }

a, button, input, select, textarea, label, summary {
  touch-action: manipulation; }

h1, h2, h3, h4, h5 {
  margin-top: 0; }

h1 {
  margin-bottom: 1.35rem;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 700; }
  @media (min-width: 48em) {
    h1 {
      font-size: 38px;
      font-size: 3.8rem; } }

h2 {
  margin-bottom: 1.35rem;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3; }
  @media (min-width: 48em) {
    h2 {
      font-size: 32px;
      font-size: 3.2rem; } }

p + h2 {
  margin-top: 0.9rem; }

h3 {
  margin-bottom: 0.675rem;
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.3; }
  @media (min-width: 48em) {
    h3 {
      font-size: 24px;
      font-size: 2.4rem; } }

h4 {
  margin-bottom: 0.675rem;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700; }
  @media (min-width: 48em) {
    h4 {
      font-size: 21px;
      font-size: 2.1rem; } }

h5 {
  margin-bottom: 0.675rem;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700; }
  @media (min-width: 48em) {
    h5 {
      font-size: 16px;
      font-size: 1.6rem; } }

ul, ol {
  margin: 0 0 1.35rem 0;
  padding: 0 0 0 22px; }
  @media (min-width: 37.5em) {
    ul, ol {
      margin: 0 0 1.35rem -22px; } }

li {
  margin-bottom: 0.16875rem;
  font-size: 16px;
  font-size: 1.6rem;
  list-style: disc inside none; }

li > ul,
li > ol {
  list-style-type: none;
  margin: 1.5rem 0 0 22px;
  padding: 0; }

dt {
  margin-bottom: 0.16875rem;
  font-size: 21px;
  font-size: 2.1rem; }

dd {
  margin-bottom: 2.7rem;
  margin-left: 0;
  line-height: 1.3; }

.list--inline {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }
  @media (min-width: 37.5em) {
    .list--inline {
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 37.5em) {
    .list--inline li {
      display: inline-block;
      margin-right: 22px; } }
  .list--inline li:last-child {
    margin-right: 0; }

.list--plain {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0; }

::-moz-selection {
  background-color: #f4f4f4;
  text-shadow: none; }

::selection {
  background-color: #f4f4f4;
  text-shadow: none; }

address {
  margin-bottom: 1.35rem;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6; }

abbr[title] {
  border-bottom: 1px dotted #d8d8d8;
  cursor: help; }

.amp {
  font-family: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua"); }

dfn {
  font-style: italic; }

ins {
  background-color: #f4f4f4;
  color: #111;
  text-decoration: none; }

mark {
  background-color: #f4f4f4;
  color: #111;
  font-style: italic;
  font-weight: bold; }

small {
  font-size: 14px;
  font-size: 1.4rem; }

b, strong {
  font-weight: 700; }

i, em {
  font-style: italic; }

code {
  vertical-align: middle;
  padding: .25em .5em;
  background-color: #f4f4f4; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

p {
  margin-bottom: 1.35rem;
  line-height: 1.3;
  font-size: 16px;
  font-size: 1.6rem; }
  @media (min-width: 48em) {
    p {
      line-height: 1.4; } }
  @media (min-width: 64em) {
    p {
      line-height: 1.5; } }

.lead {
  font-size: 18px;
  font-size: 1.8rem; }
  @media (min-width: 48em) {
    .lead {
      font-size: 21px;
      font-size: 2.1rem;
      line-height: 1.5; } }

.secondary {
  font-size: 14px;
  font-size: 1.4rem; }
  @media (min-width: 48em) {
    .secondary {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 1.4; } }

.tertiary {
  font-size: 12px;
  font-size: 1.2rem; }
  @media (min-width: 48em) {
    .tertiary {
      font-size: 14px;
      font-size: 1.4rem;
      line-height: 1.4; } }

.milli {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-size: 1rem; }
  @media (min-width: 48em) {
    .milli {
      font-size: 12px;
      font-size: 1.2rem; } }

blockquote {
  margin: 2.7rem 0 5.4rem; }
  @media (min-width: 37.5em) {
    blockquote {
      margin: 2.7rem 44px 5.4rem; } }
  blockquote p {
    font-family: "Open Sans", "Times", serif;
    font-size: 18px;
    font-size: 1.8rem;
    color: #555; }
    @media (min-width: 48em) {
      blockquote p {
        font-size: 21px;
        font-size: 2.1rem; } }
  blockquote small {
    font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    text-transform: uppercase; }
    @media (min-width: 37.5em) {
      blockquote small {
        padding-left: 44px; } }
  blockquote cite {
    font-style: normal; }

.media {
  margin-bottom: 2.7rem; }
  @media (min-width: 37.5em) {
    .media {
      display: flex;
      align-items: flex-start; } }
  .media:last-of-type {
    padding-bottom: 0;
    border-bottom-width: 0; }
  .media .media__figure {
    margin-bottom: 0.3375rem; }
    @media (min-width: 37.5em) {
      .media .media__figure {
        width: 24.27362676%;
        margin-right: 22px;
        margin-bottom: 0; } }

.media__header {
  font-size: 18px;
  font-size: 1.8rem; }
  @media (min-width: 48em) {
    .media__header {
      font-size: 21px;
      font-size: 2.1rem; } }

@media (min-width: 37.5em) {
  .media__content {
    flex: 1;
    padding-bottom: 1.35rem;
    border-bottom: 1px solid #d8d8d8; } }
  @media (min-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 37.5em) and (min-resolution: 192dpi) {
    .media__content {
      border-width: .5px; } }

@media (min-width: 37.5em) {
  .media__content p {
    font-size: 14px;
    font-size: 1.4rem; } }

@media (min-width: 48em) {
  .media__content p {
    font-size: 16px;
    font-size: 1.6rem; } }

.media__content p:last-of-type {
  margin-bottom: 0; }

@media (min-width: 37.5em) {
  .media--reverse {
    flex-direction: row-reverse; } }

.media--reverse .media__figure {
  margin-bottom: 0.3375rem; }
  @media (min-width: 37.5em) {
    .media--reverse .media__figure {
      margin-right: 0;
      margin-left: 22px;
      margin-bottom: 0; } }

@media (min-width: 87.5em) {
  .pattern__container {
    display: flex;
    flex-wrap: wrap; } }

.pattern__page {
  padding: 22px;
  box-sizing: border-box;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .pattern__page {
      border-width: .5px; } }
  @media (min-width: 37.5em) {
    .pattern__page {
      padding: 22px 44px; } }
  @media (min-width: 76.25em) {
    .pattern__page {
      flex-grow: 1;
      flex-basis: 50%; } }

.pattern__page__header {
  margin-bottom: 2rem;
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #747678; }

.pattern-col-all {
  margin-bottom: 2rem; }
  .pattern-col-all:before, .pattern-col-all:after {
    content: "";
    display: table; }
  .pattern-col-all:after {
    clear: both; }

@media (min-width: 48em) {
  .pattern-col {
    float: left;
    width: 30.6667%;
    margin-right: -100%; } }

@media (min-width: 48em) {
  .pattern-col1 {
    margin-left: 0; } }

.pattern-col1 .milli {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }

@media (min-width: 48em) {
  .pattern-col1-col2 {
    width: 65.3333%; } }

@media (min-width: 48em) {
  .pattern-col2 {
    margin-left: 34.6667%; } }

@media (min-width: 48em) {
  .pattern-col2-col3 {
    width: 65.3333%;
    margin-left: 34.6667%; } }

@media (min-width: 48em) {
  .pattern-col3 {
    margin-left: 69.3333%; } }

.pattern__item {
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e3e4e4; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .pattern__item {
      border-width: .5px; } }

.pattern__item:last-child {
  border-bottom-width: 0; }

.pattern__item h1,
.pattern__item h2,
.pattern__item h3,
.pattern__item h4,
.pattern__item h5 {
  text-align: center; }

.pattern__type {
  margin-bottom: .75rem;
  text-align: center;
  text-transform: uppercase;
  color: #c7c8c9; }

.pattern__notes {
  margin-top: 1.5rem; }

.pattern__notes ul {
  list-style-type: 0;
  margin: 0;
  padding: 0;
  text-align: center; }

.pattern__notes li {
  display: inline-block;
  margin-right: 22px;
  font-size: 1.4rem;
  color: #c7c8c9; }

.pattern__notes li:last-child {
  margin-right: 0; }

/* INDEX PAGE */
#pattern__index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff; }

/* COVER PAGE */
#pattern__cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #7CA6C2;
  background-size: cover;
  border-color: #7CA6C2;
  color: #fff; }

.pattern__cover__logo {
  margin-bottom: 3rem;
  text-align: center; }

.pattern__cover__logo img {
  width: 65.3333%; }

.pattern__cover__header {
  font-size: 2.4rem;
  text-align: center; }

.pattern__cover__intro {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  text-align: center; }

.pattern__contents__footer small {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* CONTENTS PAGE */
.pattern__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  counter-reset: section; }
  .pattern__contents .pattern-col-all {
    flex: 1; }
  @media (min-width: 48em) {
    .pattern__contents .pattern__contents__columns {
      column-count: 3;
      column-gap: 22px; } }
  .pattern__contents .pattern__contents__footer {
    text-align: center; }
  .pattern__contents p {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto; }

.pattern__contents__header {
  margin-bottom: 2rem;
  font-size: 2.4rem; }

.pattern__contents__title {
  margin-bottom: 1.5rem;
  font-size: 1.6rem; }

.pattern__heading {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #747678;
  text-align: center; }

.pattern__contents__list {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  font-size: 1.4rem; }

.pattern__contents__list li {
  margin-bottom: .5rem;
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .pattern__contents__list li::before {
    padding-right: 11px;
    counter-increment: section;
    content: counter(section) "";
    color: #acadae; }

.pattern__contents__list a {
  text-decoration: none;
  color: #acadae; }

.pattern__story p {
  margin-bottom: 0; }

.pattern__story ul {
  margin-bottom: 0; }

.pattern__story li {
  line-height: 1.5;
  margin-bottom: 0; }

.flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .flex .container {
    flex: 1; }

.container {
  margin: 0 11px;
  padding: 1.35rem 0;
  transition: margin 0.25s ease; }
  @media (min-width: 30em) {
    .container {
      margin: 0 22px; } }
  @media (min-width: 37.5em) {
    .container {
      margin: 0 44px; } }
  @media (min-width: 48em) {
    .container {
      margin: 0 66px; } }
  @media (min-width: 76.25em) {
    .container {
      margin: 0 auto;
      width: 80%;
      max-width: 90rem; } }

.content:before, .content:after {
  content: "";
  display: table; }

.content:after {
  clear: both; }

.main {
  width: 100%; }
  @media (min-width: 64em) {
    .main {
      float: left;
      margin-right: -100%;
      width: 67.1747%; } }

@media (min-width: 64em) {
  .complementary {
    float: left;
    margin-right: -100%;
    margin-left: 72.1747%;
    width: 27.8253%; } }

[role="banner"] {
  margin-bottom: 1.35rem;
  padding-bottom: 1.35rem;
  border-bottom: 1px solid #d8d8d8; }

[role="contentinfo"] {
  margin: 1.35rem 11px 0 11px;
  padding: 1.35rem 0;
  border-top: 1px solid #d8d8d8; }
  @media (min-width: 30em) {
    [role="contentinfo"] {
      margin: 1.35rem 22px 0 22px; } }
  @media (min-width: 37.5em) {
    [role="contentinfo"] {
      margin: 1.35rem 44px 0 44px; } }
  @media (min-width: 48em) {
    [role="contentinfo"] {
      margin: 1.35rem 66px 0 66px; } }
  @media (min-width: 76.25em) {
    [role="contentinfo"] {
      margin: 1.35rem auto 0 auto;
      width: 80%;
      max-width: 90rem; } }
